/* Project name: Data Visualisation Exercise 1 DSIT */
/* Collaborators: Rafail Adam */
/* Country: Greece */
/* City: Athens */
/* Program: Data Science and Information Technologies */
/* Date: 11-03-2025 */

/* File wide variables */
* {
  box-sizing: border-box;
}

:root{
    /* Gradient dark */
    --gradd: #1c2c22;
    /* The light gradient color btw */
    --gradl: #1ec988;
    /* The whites */
    --offwhite: #fbfafe;
    /* dark balck */
    --offblack: #2f2f2f;
    /* Fonts */
    --sloganf: Libre Franklin;
    --backupfont: Verdana;
    --slogans: 57;
}

body{
    background-image: linear-gradient(to bottom , var(--gradd), var(--gradl), var(--gradd));
    margin: 0;
    font-family: 'Libre Franklin', Verdana;
    text-wrap: wrap;
    font-size: 1.25vw;
}

header{
    background-color: var(--offwhite);
    text-wrap: wrap;
    text-align: center;
}

.tab {
    padding: 1.3vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(1vh, 4vh));
    text-align: center;
}

.container {
    background: var(--offwhite);
    margin: 10%;
    padding: 10%;
    text-wrap: wrap;
    text-align: center;
}

.padder {
    padding: 5%;
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(10%, 90%));
    text-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.positioner {
    text-wrap: wrap;
    text-align: center;
    align-items: center;
}

.item {
    max-width: 90%;
    height: auto; /* Maintains aspect ratio */
    width: auto; /* Adjusts dynamically */
    object-fit: contain; /* Keeps the full image inside */
    border: 5%;
}

.title {
    text-align: center;
    text-wrap: wrap;
    color: var(--gradd);
    font-size: 2vw;
}

.cube{
    width: 1.5vw;
}

.hidden {
    opacity: 0;
    display: none;
    z-index: 1001;
}

.click {
    width: 50px;
    height: 50px;
    background-color: blue; /* Default color */
    color: white; /* Default text color */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer; /* Make it clickable */
    user-select: none; /* Prevent text selection */
    transition: transform 0.5s ease, background-color 0.5s ease; /* Smooth animation */
}

.clicked {
    transform: translateY(50px);
    background-color: red;
}

.btn {
    background-color:var(--offwhite)
}

footer {
    background-color: var(--offwhite);
    padding: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(10%, 90%));
    row-gap: 1vw;
    text-wrap: wrap;
    text-align: center;
}

